/* div {
    border: 2px solid black;
    width: 200px;
} */

/*2 способ*/
/* div {
    background: black;
    width: 200px;
     height: 90px;   
     margin-bottom: 20px;
     position: absolute;
}

.bor {
    background: white; 
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
   
    
} */

/*3 способ*/
/* div {
    outline-style: auto;
    width: 100px;
} */
