body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.tabl,tr,td,th {
    border: 2px solid white;
    width: 700px;
    height: 50px;
   
}
.one {
    background: rgb(235, 235, 235);
}
.two {
    background:  rgb(206, 189, 189)
}

tr,td,th {
    color: rgb(112, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.two_rav {
    background:  rgb(206, 189, 189);
    height: 20px;
    
}
